<template>
    <div class="wrapper">
      <a
        class="button button-left"
        :class="{'button-disabled': selected <= min}"
        href="#"
        @click.prevent="previous" ></a>
      <a
        class="button button-right"
        :class="{'button-disabled': selected >= max}"
        href="#" @click.prevent="next"></a>
    </div>
</template>

<script>
export default {
  name: 'arrows',
  props: ['selected', 'minimum', 'maximum'],
  data () {
    return {
      min: this.minimum || 0,
      max: this.maximum || Infinity
    }
  },
  methods: {
    previous: function () {
      if (this.selected > this.min) {
        this.$emit('changed', this.selected - 1)
      }
    },
    next: function () {
      if (this.selected < this.max) {
        this.$emit('changed', this.selected + 1)
      }
    }
  }
}
</script>

<style scoped>
.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 50px;
  border-top: #a0a0a0 5px solid;
}

.button {
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  line-height: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;

  background-image: url('../assets/arrow.png');
  background-repeat: no-repeat;
  background-size: auto 60%;
  background-color: #555555;
  user-select: none;
}

.button:hover, .button:active {
  font-weight: 900;
  background-color: #333333;
}

.button-left {
  text-align: left;
  background-position: 90% center;
  transform: scaleX(-1);
  border-left: 5px solid #a0a0a0;
}

.button-right {
  text-align: right;
  background-position: 90% center;
}

.button-disabled, .button-disabled:hover {
  background-image: url('../assets/arrow_disabled.png');
  background-color: #a0a0a0;
  cursor: default;
}
</style>