<template>
  <div class="slide">
    <p>Bojíte sa, že prídete o život pri teroristickom útoku? Podľa štatistiky z roku 2016 to vyzerá, že v Európe je veľa iných, oveľa pravdepodobnejších príčin.</p>
    <p>Pozrite si niekoľko z nich. Spolu s informáciou o tom, <span class="white">koľkokrát vyššia je ich pravdepodobnosť oproti smrti z dôvodu terorizmu</span>.</p>
  </div>
</template>

<script>
export default {
  name: 'front-page'
}
</script>

<style scoped>
  .slide {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #858585;
    background-image: url('../assets/title_background.jpg');
    background-position: center center;
    background-size: cover;

    color: #f0f30b;
    font-weight: 900;
    padding: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 4rem;
  }

  .white {
    color: white;
  }
</style>