<template>
    <div class="graph full-size">
      <div
        v-for="(item, index) in sortedList"
        :key="item.cause"
        class="row"
        :class="[index % 2 == 0 ? 'even' : 'odd']"
        :style="rowStyleObject"
        @click.prevent="rowSelected(item)">
        <div
          class="rect"
          :style="{width: rectWidth(item)}">
        </div>
        <div class="row-label">
          <span class="cause">{{ item.graphTerm }}: {{ item.count }}</span>
        </div>
      </div>

      <div class="source">
        zdroj: <a href="http://www.politico.eu/interactive/how-to-fight-terror-start-with-the-facts/" target="_blank">politico.eu</a>
      </div>
    </div>
</template>

<script>
export default {
  name: 'graph',
  props: ['list'],
  computed: {
    sortedList () {
      return this.list.slice().sort((a, b) => {
        if (a.count < b.count) {
          return 1
        } else if (a.count > b.count) {
          return -1
        } else {
          return 0
        }
      })
    },
    lowest () {
      return this.list.reduce((acc, item) => item.count < acc.count ? item : acc)
    },
    highest () {
      return this.list.reduce((acc, item) => item.count > acc.count ? item : acc)
    },
    rowStyleObject () {
      return {
        height: (100 / this.list.length) + '%'
      }
    }
  },
  methods: {
    rectWidth (item) {
      return (100 / this.highest.count) * item.count + '%'
    },
    rowSelected (item) {
      this.$emit('selected', this.list.indexOf(item))
    }
  }
}
</script>

<style scoped>
  .full-size {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .graph {
    box-sizing: border-box;
    padding: 30px;
    background-color: #858585
  }

  .row {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 3px;

    font-size: 1rem;
    font-weight: 900;
    color: #000;
    cursor: pointer;
  }

  .row:hover {
    background-color: #909090;
  }

  .rect {
    background-color: #fcff4c;
    height: 100%;
  }

  .row-label {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .even {
    background-color: #898989;
  }

  .odd {
    background-color: #858585;
  }

  .source {
    position: absolute;
    bottom: 0;
    color: white;
    padding-bottom: 0.5rem;
  }

  .source a {
    color: white
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .row-label {
      font-size: 1.5rem;
    }
  }

  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .row-label {
      font-size: 1rem;
    }
  }

  @media only screen
  and (min-width : 320px)
  and (max-width : 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    .row-label {
      font-size: 1rem;
    }
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  html, body {
    font-size: 12px;
  }
}
</style>