<template>
  <div class="wrapper">
    <div class="cause">
      <span class="vertical">{{ text }}</span>
    </div>
    <div class="number">
      <span class="vertical">{{ ~~interpolatedValue }}x</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'interpolated-counter',
  props: ['value', 'text'],
  data () {
    return {
      interpolatedValue: 0,
      tween: null,
      timeoutHandle: null
    }
  },
  watch: {
    value (newValue) {
      if (this.tween != null) {
        this.cancelTween()
      }
      this.tween = createTween(this.interpolatedValue, this.value, 0.5)
      this.scheduleTweenUpdate()
    }
  },
  mounted () {
    this.tween = createTween(this.interpolatedValue, this.value, 0.5)
    this.scheduleTweenUpdate()
  },
  methods: {
    scheduleTweenUpdate () {
      this.interpolatedValue = this.tween.tick(performance.now() / 1000)
      if (this.interpolatedValue !== this.value) {
        this.timeoutHandle = setTimeout(this.scheduleTweenUpdate, 0)
      } else {
        this.cancelTween()
      }
    },
    cancelTween () {
      clearTimeout(this.timeoutHandle)
      this.tween = null
    }
  }
}

function createTween (from, to, duration) {
  const startTime = performance.now() / 1000
  return {
    getDuration () {
      return duration
    },
    tick (time) {
      const elapsedTime = time - startTime
      if (elapsedTime >= duration) {
        return to
      } else {
        const val = from + (to - from) * (elapsedTime / duration)
        return val
      }
    }
  }
}
</script>

<style scoped>
  .wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: #f0f30b;
    font-weight: 900;
    width: 100%;
    background-color: rgba(85, 85, 85, 0.7)
  }

  .half {
    float: left;
    width: 50%;
  }

  .full-width {
    width: 100%;
  }

  .white {
    color: white;
  }

  .cause {
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    align-items: stretch;

  }

  .number {
    box-sizing: border-box;
    text-align: center;
    font-size: 3rem;
    color: white;
    align-items: stretch;
  }

  .vertical {
    vertical-align: middle;
  }
</style>
