<template>
    <select v-model="selected" @change="onChange">
      <option disabled value="">Please select one</option>
      <option v-for="(item, index) in list" :key="item.cause" :value="index">{{ item.cause.toUpperCase() }}</option>
    </select>
</template>

<script>
export default {
  name: 'selector',
  props: ['list'],
  data () {
    return {
      selected: ''
    }
  },
  methods: {
    onChange: function () {
      this.$emit('changed', this.selected)
    }
  }
}
</script>

<style scoped>
  select {
    box-sizing: border-box;
    display: block;
    margin-bottom: 30px;
  }
</style>