<template>
  <div id="visualization-container" class="visualization-container">
  </div>
</template>

<script>
import * as balls from '../graphics/balls'

export default {
  name: 'visualization',
  props: ['count', 'max'],
  data () {
    return {
      vis: null
    }
  },
  mounted () {
    const container = document.getElementById('visualization-container')
    this.vis = balls.init(container, this.max)
    this.vis.start()
    if (!Number.isNaN(this.count)) {
      this.vis.setCount(this.count)
    }
  },
  watch: {
    count: function (value) {
      this.vis.setCount(value)
    }
  },
  beforeDestroy () {
    if (this.vis !== null) {
      this.vis.clear()
    }
  }
}
</script>

<style scoped>
  .visualization-container {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
</style>