html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #dddddd;

    font-size: 12px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    html, body {
        font-size: 24px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    html, body {
        font-size: 12px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  html, body {
    font-size: 12px;
  }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px)
  and (orientation: landscape) {
  html, body {
    font-size: 12px;
  }
}

@media only screen and (max-width : 320px) {
    html, body {
        font-size: 10px;
    }
}