<template>
  <div id="app">
    <div id="container" class="container">
      <front-page v-if="currentSlide === 'title'" />
      <template v-if="currentSlide === 'dots'">
        <visualization
          :count="target.count"
          :max="70">
        </visualization>

        <interpolated-counter
          class="down-in-parent"
          :value="target.count"
          :text="target.sentenceTerm">
        </interpolated-counter>
      </template>
      <graph
      v-if="currentSlide === 'graph'"
      :list="probabilities"
      @selected="setDotsSlideIndex"/>
    </div>
    <div id="footer" class="footer">
      <arrows
        :selected="slideIndex"
        :minimum="min"
        :maximum="max"
        @changed="setSlideIndex">
      </arrows>
    </div>
  </div>
</template>

<script>
import Visualization from './components/Visualization'
import InterpolatedCounter from './components/InterpolatedCounter'
import Arrows from './components/Arrows'
import FrontPage from './components/FrontPage'
import Graph from './components/Graph'

const probabilities = [
  {
    cause: 'homicide',
    graphTerm: 'vraždy',
    sentenceTerm: 'vražda',
    count: 31
  }, {
    cause: 'pedestrian deaths',
    graphTerm: 'nehody na prechode',
    sentenceTerm: 'nehoda na prechode pre chodcov',
    count: 41
  }, {
    cause: 'sporting accidents',
    graphTerm: 'športové nehody',
    sentenceTerm: 'športová nehoda',
    count: 50
  }, {
    cause: 'heat wave',
    graphTerm: 'horúčavy',
    sentenceTerm: 'horúčava',
    count: 84
  }, {
    cause: 'traffic accidents',
    graphTerm: 'dopravné nehody',
    sentenceTerm: 'dopravná nehoda',
    count: 218
  }, {
    cause: 'suicide',
    graphTerm: 'samovraždy',
    sentenceTerm: 'samovražda',
    count: 433
  }, {
    cause: 'respiratory illness',
    graphTerm: 'respiračné ochorenia',
    sentenceTerm: 'respiračné ochorenie',
    count: 3074
  }, {
    cause: 'heart disease',
    graphTerm: 'kardiovaskulárne ochorenia',
    sentenceTerm: 'kardiovaskulárne ochorenie',
    count: 4888
  }, {
    cause: 'cancer',
    graphTerm: 'rakovina',
    sentenceTerm: 'rakovina',
    count: 9814
  }
]

export default {
  name: 'app',
  data () {
    return {
      probabilities,
      slideBounds: {
        title: {
          from: 0,
          to: 0
        },
        dots: {
          from: 1,
          to: probabilities.length
        },
        graph: {
          from: probabilities.length + 1,
          to: probabilities.length + 1
        }
      },
      slideIndex: 0,
      comparedAgainst: {
        cause: 'terror attack',
        count: 0.027
      },
      target: null,
      min: 0,
      max: probabilities.length + 1
    }
  },
  computed: {
    currentSlide () {
      return Object.keys(this.slideBounds).find(k => this.slideIndex >= this.slideBounds[k].from && this.slideIndex <= this.slideBounds[k].to)
    }
  },
  methods: {
    setTarget (index) {
      this.target = this.probabilities[index]
    },
    setSlideIndex (index) {
      if (index >= this.slideBounds.dots.from && index <= this.slideBounds.dots.to) {
        this.setTarget(index - this.slideBounds.dots.from)
      }

      this.slideIndex = index
    },
    setDotsSlideIndex (index) {
      this.slideIndex = index + this.slideBounds.dots.from
      this.setTarget(index)
    },
    previous () {
      if (this.slideIndex > this.min) {
        this.setSlideIndex(this.slideIndex - 1)
      }
    },
    next () {
      if (this.slideIndex < this.max) {
        this.setSlideIndex(this.slideIndex + 1)
      }
    }
  },
  mounted () {
    const container = document.querySelector('#container')
    const footer = document.querySelector('#footer')

    window.addEventListener('resize', resize)
    resize()
    function resize () {
      container.style.height = (window.innerHeight - footer.clientHeight) + 'px'
    }

    window.addEventListener('keyup', (e) => {
      if (e.keyCode === 37) {
        this.previous()
      } else if (e.keyCode === 39) {
        this.next()
      }
    })
  },
  components: {
    Visualization,
    Arrows,
    InterpolatedCounter,
    FrontPage,
    Graph
  }
}
</script>

<style>
#app {
  display: block;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.footer {
  display: block;
  position: relative;
  width: 100%;
  height: 10%;
}

@media only screen
  and (min-device-width : 320px) and (max-device-width : 480px) {
    .footer {
      height: 15%;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .footer {
    height: 15%;
  }
}

.down-in-parent {
  position: absolute;
  top: 0%;
}

.centered {
  display: block;
  margin: 0 auto;
}
</style>
